/[Ss]uperDooperGameDevSpaceGame/[Ll]ibrary/
/[Ss]uperDooperGameDevSpaceGame/[Tt]emp/
/[Ss]uperDooperGameDevSpaceGame/[Oo]bj/
/[Ss]uperDooperGameDevSpaceGame/[Bb]uild/
/[Ss]uperDooperGameDevSpaceGame/[Bb]uilds/
/[Ss]uperDooperGameDevSpaceGame/[Ll]ogs/
/[Ss]uperDooperGameDevSpaceGame/[Uu]ser[Ss]ettings/
/[Ss]uperDooperGameDevSpaceGame/[Aa]ssets/[Pp]olygonSciFiSpace/
